<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58671105343-h97sieav8chsk9nm1230s35sci807e5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58671105343-h97sieav8chsk9nm1230s35sci807e5m</string>
	<key>API_KEY</key>
	<string>AIzaSyCar0wEeycJswyYZG7Ag1ZR8st_WZZHWps</string>
	<key>GCM_SENDER_ID</key>
	<string>58671105343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laundreazy</string>
	<key>PROJECT_ID</key>
	<string>laundreazy-70822</string>
	<key>STORAGE_BUCKET</key>
	<string>laundreazy-70822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58671105343:ios:54101091e938926e99ff8a</string>
</dict>
</plist>